<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Имя</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Введите имя"
               ng-model="name">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Фамилия</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Введите фамилию" ng-model="surname">
    </div>
    <button type="button" ng-click="submitForm()" class="btn btn-secondary">Добавить</button>
</form>
